

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	overflow-x: hidden;
}

.ad-header{
    background-image: url('../img/adfoto.png');
    background-position: center;
    height: 850px; 
}

.ad-footer{
    
    background-color: #333;
    color: #FFFFFF; 
   /*width: 199%; */
   height: 200px;
}
.adlogofooter{
    margin-top: 10px;
    margin-left: 10px;
}

.callout-header{
    margin-top:10%;
    text-align: center;
    font-size: 32px;
    color: #FFFFFF
    /*background-color: cadetblue; */
}

.callout-header2{
    /* margin-top:20%;
    text-align: center; */
    font-size: 20px;
    color: #FFFFFF
    /*background-color: cadetblue; */
}

.feature1{
    color: #FFFFFF;
    background-color: #333;
   /* background-color: red;*/
}

/* Vantagens e beneficios */
.feature3{
    background-color: #333;
    color: #FFFFFF;
    height: 400px;
}

.recursos-feature{
    background-color: #00A0A3;
    height: 400px;
    color: #FFFFFF;
}

















